.tambah-data-button {
    position: absolute;
    top: 100px; /* Sesuaikan nilai top sesuai kebutuhan */
    left: 20px; /* Sesuaikan nilai left sesuai kebutuhan */
    /* Gaya lainnya untuk tombol */
  }